tr, td{
  border: solid black 3px; 
  text-align: center;
  width:200px;
  height:200px;
  
   
}
.table{
  align: center;
  width: 600px;
  height:600px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
   
}
#header{
   text-align: center;
}
body{
  background-color: #ffccee;
}
#break{
  font-size: 36px;
}
.buttonSize{
  font-size: 36px;
}
.grid{
  font-size: 120px;
  
}
.table td{
  text-align:center; 
   vertical-align:middle;
}
